<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2771&q=80);">

  <div class="container">
    <h1>Welcome to your bar</h1>
    <p>“I drink to make other people more interesting.” ―Ernest Hemingway</p>
  </div>
</div>
