<div class="card">
  <div class="card-head">
    <%= cl_image_tag cocktail.photo, class:"card-img" %>
  </div>
  <div class="card-body">
    <p class="card-title">
      <%= title %>
    </p>
    <p class="card-description">
      <%= description %>
    </p>
  </div>
</div>
